{% extends "base.html.twig" %}

{% block title %}GVG - Produit
{% endblock %}
{% block body %}
	GNV - Produit numero{{ produit.id }}
	<h1>{{ produit.getNomProduit() }}</h1>
	<span>{{ produit.getImgProduit() }}€</span>
	{{ produit.getDescription() }}
	<a href= # >Ajouter au panier</a>
{% endblock %}